.button-size {
  width: 150px;
}

.coin-style{
  border-radius: 32px !important;
  width: 66px;
  background-color: lightgray;
  border-color: gray;
  font-weight: 400;
}

.text-box-style{
  min-width: 550px;
  height: 80px;
  border-style: ridge;
  background-color: antiquewhite;
  font-size: xx-large;
  text-align: center;
}