.side-nav{
    border: none;
}

.side-nav a {
    color: #449ce4;
    vertical-align: middle;
    height: 50px;
    
}

.mat-list-item.active, .mat-list-item:hover{
    background-color: #dedede;
}


.side-nav i {
    padding-right: 10px;
    
}


.arrow-color{
   color: #449ce4
}

.button-style{
    background-color: #d7e5f3;
    min-width: 0px;
    line-height: 0px;
    padding: 0px;
}

.background-white{
    background-color: white;
}